

/* emad */

/* jafar */




@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Poppins' , 'sans-serif';
    box-sizing: border-box;
}


/* hero Section Start here*/

/* https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80 */
/* https://images.unsplash.com/photo-1499951360447-b19be8fe80f5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80 */
/* https://images.unsplash.com/photo-1541746972996-4e0b0f43e02a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80 */
/* https://view.com/sites/default/files/image_crop_hero/solutions-commercial-office-hero-image-netflix-DESKTOP-LARGE.jpg */
/* https://images.unsplash.com/photo-1564069114553-7215e1ff1890?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80 */


.heroSection{
    color: white;
    height: 100vh;
    width: 100vw;
    background:linear-gradient(
        rgba(0, 0, 0, 0.1), 
        rgba(0, 0, 0, 0.1)
      ),url("https://images.unsplash.com/photo-1564069114553-7215e1ff1890?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80");
      background-size:cover;
      display: flex;
      background-attachment: fixed;
      background-position:center ;
    opacity: 100%;
    /* display: flex;
    align-items: center; */
    flex-wrap: wrap;
    animation: shrink 1.5s;


}


/* simple navbar hover effect start here */



/* .Navbar{
    display: flex;
    justify-content: space-evenly;
    animation: fadeIn 0.5s;
    padding: 1.5rem;
    font-weight: 400;
    font-size: larger;

}




a {
	color: #fff;
  position: relative;
  text-decoration: none;
}

a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #fff;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}



a{
    text-decoration: none;
    font-size: larger;
}


li{
    list-style: none;
} */






/* simple navbar hover effect end here */











.headingAndDescription{
    margin-left: 5rem;
    animation: fadeIn 2.5s;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}
.callToActionButton{
    margin: 1rem;
    width: 15rem;
    height: 3rem;
    font-size: larger;
    font-weight: bold;
    animation: fadeIn 2.5s;
}

.callToActionButton:hover{
    /* box-shadow: #fff; */
    box-shadow : 0 0 15px 5px rgba(255, 255, 255, 1);
}


.heroHeading{
    margin: 1rem;
    margin-bottom: 1.5rem;
    animation: fadeIn 2.5s;
    font-weight: 700;

}
.heroDescription{
   max-width: 50rem;
   margin: 1rem;
   line-height: 2.8rem;
   animation: fadeIn 2.5s;


}

/* hero Section End here*/




/* Dropdown Start here*/
.dropdown{
    position :relative;
    margin: 2rem;
    width: 300px;
    height:60px;

}



.dropdown::before{
    content: "";
    position: absolute;
    right: 20px;
    top: 25px;
    z-index: 2;
    width:8px;
    height:8px;
    border: 2px solid #333;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(-45deg);
    transition: 0.5s;
    pointer-events:none;
}

.dropdown.active::before{
top:28px;
transform: rotate(-225deg);
}

.dropdown input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: #fff;
    border: none;
    outline: none;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
    padding: 12px 20px;
    border-radius: 10px;
}



.dropdown .options{
    position: absolute;
    top: 80px;
    width: 100%;
    background: #fff;
    box-shadow: 0 30px 30px rgba(0,0,0,0.05);
    border-radius: 10px;
    overflow: hidden;
    display: none;
    animation: fadeIn 0.5s;

    

}

.dropdown .options div{
padding: 12px 20px;
cursor: pointer;

}

.dropdown .options div:hover{
    background: #62baea;
    color: #fff;

}

.dropdown.active .options{
display: block;



}



.dropdown-header
{
    text-align: center;
    font-size: large;
    font-weight: bolder;
    padding: 1rem;
    background-color: grey;

}




    /* Dropdown End here*/




    /* hero animation start here */

@keyframes shrink {
    from{
        transform: scale(2);
    }
    to {
        transform: scale(1);
    }
}

@keyframes fadeIn {
    from{
         opacity: 0;
         transform:translateY(-2em)
    }
    to {
         opacity: 1;
         transform: translateY(0);
    }
}


@keyframes fadeout {
    from{
         opacity: 0;
         transform:translateY(0)
    }
    to {
         opacity: 1;
         transform: translateY(2em);
    }
}


        /* hero animation End here */


/* Jafar End */










/* manar */

/* laith */

/* duaa */





/* manar */

.registerContainer{
	/* margin: 0;
	padding: 0; */
	width: 450px;
	height: 600px;
	justify-content: center;
	align-items: center;
	/* min-height: 100vh; */
	font-family: 'Jost',sans-serif;
	background: linear-gradient(to bottom , #0f0c29 , #302b63, #24243e);
overflow: hidden;
border-radius: 10px;
box-shadow: 5px 20px 50px thistle;
}

#check{
	display: none;
}

.signup{
	position: relative;
	/* height: 150px;
	width: 300px; */
	justify-content: center;
}

#signLab,.label{
color: #fff;
font-size: 2.3em;
justify-content: center;
display: flex;
margin: 60px;
font-weight: bold;
cursor: pointer;
transition: .5s ease-in-out;
}

/* .inputDesign{
	position: relative;
	font-size: 14px;
	padding: 20px;
	margin: 5px;

} */
.regInput{
	width: 60%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	/* appearance: none; */
	outline: none;
	border-radius: 5px;
	/* font-size: 14px; */

}

.regBtn{
	color: #090909;
	padding: 1em 2em;
	font-size: 18px;
	width: 80%;
	height: 40px;
	line-height: 1px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	border-radius: 300px;
	background: #e8e8e8;
	border: 2px solid #e8e8e8;
	transition: all .3s ease-in;
	cursor: pointer;
	box-shadow: 2px 2px 6px #c5c5c5,
	-1px -2px 6px #fff;

}

.regBtn:hover{
	box-shadow: -1px -1px 2px #c5c5c5,
	3px 3px 3px #fff;
}

.login{
	height: 560px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-350px);
	transition: .8s ease-in-out;
}


#logLab{
	color: #573b8a;
	transform: scale(.9);

}

#check:checked ~ .login{
	transform: translateY(0px);
}

#check:checked ~ #logLab{
	transform: scale(1.5);
}

/* #check:checked ~ #signLab{
	transform: scale(6);

} */

/* modal styling*/
.modal, .modal-dialog, .modal-body {
    width: 450px;
	height: 600px;
    align-self: center;
	justify-content: center;
	align-items: center;
	/* min-height: 100vh; */
	font-family: 'Jost',sans-serif;
	background: linear-gradient(to bottom , #0f0c29 , #302b63, #24243e);
overflow: hidden;
border-radius: 10px;
box-shadow: 5px 20px 50px thistle;   
}










